:root{
    --back-color:rgb(36,41,51);
    --main-color:rgb(236,76,86);
    --darker:rgba(0,0,0,0.4);
    --much-darker:rgba(0,0,0,0.7);

    --text:white;

    scroll-behavior: smooth;
}

.highlight{
    color:var(--main-color);
}

.title{
    align-self:flex-start;
    font-size:64px;
    text-transform: uppercase;
}