:root{
    --back-color:rgb(36,41,51);
    --main-color:rgb(236,76,86);
    --darker:rgba(0,0,0,0.4);
    --much-darker:rgba(0,0,0,0.7);
    --current:rgb(252, 189, 54);

    --text:white;

    scroll-behavior: smooth;
}

body{
    background-color: var(--back-color);
    width:100vw;
    margin:0;
    padding:0;
    width:100vw;
    font-family:Helvetica, sans-serif;
    overflow-x:hidden;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.highlight{
    color:var(--main-color);
    font-weight:bold;
}

.title{
    align-self:flex-start;
    font-size:64px;
    text-transform: uppercase;
}

.wrapper{
    width:92vw;
}

/*Menu*/

.menu{
    align-self: flex-start;
    flex-grow:5;
    position:fixed;
    width:8vw;
    height:100vh;
    background-color: var(--darker);
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    z-index:999;
}

.menu-logo{
    user-select: none;
    background-color: var(--main-color);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    font-weight:bold;
    height:100px;
    color:var(--text);
}

.menu ul{
    list-style: none;
    display:block;
    padding:0;
}

.menu ul li{
    font-size:20px;
    border-top: 1px solid var(--much-darker);
    border-bottom: 1px solid var(--much-darker);
    text-align: center;
}

.menu ul li a{
    color:var(--text);
    display:block;
    padding:15px 15px;
    text-decoration: none;
}

.menu ul li a:hover{
    transition:0.2s;
    background-color: var(--much-darker);
}

.menu ul li a.current{
    color:var(--current);
}

.menu ul li:first-child{
    border-top:2px solid var(--darker);
}

.menu ul li:last-child{
    border-bottom:2px solid var(--darker);
}

.icon-links-section{
    margin-bottom:40px;
    display:flex;
    justify-content: space-evenly;
}

.icon-links-section a img{
    text-decoration: none;
    width:30px;
    height:30px;
}

/*Cursor*/