body{
    background-color: var(--back-color);
    width:100vw;
    margin:0;
    padding:0;
    width:100vw;
    font-family:Helvetica, sans-serif;
    overflow-x:hidden;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.wrapper{
    width:92vw;
}

/*Hero*/

.hero-wrapper{
    display:flex;
    margin:0;
    padding:0;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.hero{
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    padding:5px;
    color:var(--text);
}

.hero *{
    margin:0;
    padding:0;
}

.hero h1{
    font-size:100px;
}

.hero h2{
    display:flex;
}

.hero h2 .highlight{
    margin-left:14px;
}

.hero-wrapper img{
    height:100vh;
}

/*Menu*/

.menu{
    align-self: flex-start;
    flex-grow:5;
    position:fixed;
    width:8vw;
    height:100vh;
    background-color: var(--darker);
    display:flex;
    justify-content: center;
    flex-direction: column;
    z-index:999;
}

.menu ul{
    list-style: none;
    display:block;
    padding:0;
}

.menu ul li{
    font-size:20px;
    border-top: 1px solid var(--much-darker);
    border-bottom: 1px solid var(--much-darker);
    text-align: center;
}

.menu ul li a{
    color:var(--text);
    display:block;
    padding:15px 15px;
    text-decoration: none;
}

.menu ul li a:hover{
    transition:0.2s;
    background-color: var(--much-darker);
}

.menu ul li:first-child{
    border-top:2px solid var(--darker);
}

.menu ul li:last-child{
    border-bottom:2px solid var(--darker);
}

.icon-links-section{
    margin-bottom:40px;
    display:flex;
    justify-content: space-evenly;
}

.icon-links-section a img{
    text-decoration: none;
    width:30px;
    height:30px;
}

/*Projects*/

.retex-wrapper{
    margin:0;
    padding:0;
    color:var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retex-grid{
    width:92vw;
    height:92vh;
    display:flex;
}

.other-retex{
    display: flex;
    flex-wrap:wrap;
}

.other-retex a{
    width:23vw;
    height:23vh;
}

.other-retex a img{
    width:23vw;
    height:46vh;
}


/*About*/

.about-wrapper{
    margin:0;
    padding:0;
    color:var(--text);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height:100vh;
}

.about-wrapper img{
    height:100vh;
}

.about-content{
    height:100vh;
    z-index:99;
    align-self:center;
    text-align: end;
    margin-right:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.about-content h1{
    text-transform: uppercase;
    font-size:60px;
}

.about-content p{
    font-size: 24px;
    margin-bottom: 50px;
}

.about-content a{
    color:white;
    font-size:32px;
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main-color);
    padding:10px;
}

/*Footer*/

footer{
    color:var(--main-color);
    display:flex;
    width:92vw;
    justify-content: center;
    padding:20px 0;
}