body{
    background-color: var(--back-color);
    width:100vw;
    margin:0;
    padding:0;
    width:100vw;
    font-family:Consolas, sans-serif;
    overflow-x:hidden;
}

/*Hero*/

.hero-wrapper *{
    color:white;
}

.hero-wrapper{
    display:flex;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.hero{
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding:5px;
}

.hero *{
    margin:0;
    padding:0;
}

.hero h1{
    font-size:100px;
}

.hero h2{
    display:flex;
}

.hero h2 .highlight{
    margin-left:14px;
}

.menu{
    position:fixed;
    height:100vh;
    background-color: var(--darker);
    display:flex;
    justify-content: center;
    flex-direction: column;
    z-index:999;
}

.menu ul{
    list-style: none;
    display:block;
    width:100%;
    padding:0;
}

.menu ul li{
    font-size:20px;
    border-top: 1px solid var(--much-darker);
    border-bottom: 1px solid var(--much-darker);
    text-align: center;
}

.menu ul li a{
    display:block;
    padding:15px 15px;
    text-decoration: none;
}

.menu ul li a:hover{
    transition:0.2s;
    background-color: var(--much-darker);
}

.menu ul li:first-child{
    border-top:2px solid var(--much-darker);
}

.menu ul li:last-child{
    border-bottom:2px solid var(--much-darker);
}

.icon-links-section{
    margin-bottom:40px;
    display:flex;
    justify-content: center;
}

.icon-links-section a img{
    text-decoration: none;
    width:30px;
    height:30px;
}

/*Projects*/

.retex-wrapper{
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retex-grid{
    width:82vw;
    height:82vh;
    display:flex;
}

.highlighted-project{
    background-color: blueviolet;
    flex-grow:1;
}

.other-retex{
    flex-grow:1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    background-color:gold;
}

.other-retex a:first-child, .other-retex a:last-child{
    background-color: brown;
}