/*Hero*/

.hero-wrapper{
    display:flex;
    margin:0;
    padding:0;
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero{
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    padding:5px;
    color:var(--text);
}

.hero *{
    margin:0;
    padding:0;
}

.hero h1{
    font-size:100px;
}

.hero h2{
    display:flex;
}

.hero h2 .highlight{
    margin-left:14px;
}

.hero-wrapper img{
    height:100vh;
}

.hero-logo{
    user-select: none;
    font-size: 400px;
    color:var(--main-color);
    font-weight:bold;
}

.blink-character{
    animation:blink 1s step-end infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

/*About*/

.about-wrapper{
    margin:0;
    padding:0;
    color:var(--text);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height:100vh;
}

.about-wrapper img{
    height:100vh;
}

.about-content{
    height:100vh;
    z-index:99;
    align-self:center;
    text-align: end;
    margin-right:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.about-content h1{
    text-transform: uppercase;
    font-size:60px;
}

.about-content p{
    font-size: 24px;
    margin-bottom: 50px;
}

.about-content a{
    color:white;
    font-size:32px;
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main-color);
    padding:10px;
}

/*Skills*/
.skills-wrapper{
    margin:0;
    padding:0;
    color:var(--text);
    display:flex;
    flex-direction: column;
    align-items:center;
    height:100vh;
    width:92vw;
}

.skills-content{
    width:92vw;
    display: flex;
    justify-content: space-around;
}

.skill-card{
    background-color: var(--darker);
    padding:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:500px;
    margin:50px;
}

.lang-icons{
    display:flex;
    align-items: center;
}

.lang-icons img{
    margin:15px;
    width:100px;
}

.skill-card h2{
    text-transform: uppercase;
    font-size:32px;
}

.skill-card p{
    font-size:18px;
    align-self:flex-start;
    text-align: center;
}

.separator{
    font-weight: bolder;
}

/*Projects*/

.retex-wrapper{
    margin:0;
    padding:0;
    color:var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retex-grid{
    width:92vw;
    height:92vh;
    display:flex;
}

.retex-grid a img:hover{
    transition:0.2s;
    filter:brightness(75%);
}

.highlighted-project img{
    height:92vh;
}

.other-retex{
    display: flex;
}

.other-retex a{
    display:block;
    width:23vw;
    height:46vh;
}

.other-retex a img{
    width:23vw;
    height:46vh;
}



/*Footer*/

footer{
    color:var(--main-color);
    display:flex;
    width:92vw;
    justify-content: center;
    padding:20px 0;
}